
p {
	text-align: center;
	font-family: cursive;
	font-size: 50px;
}
#rectangle {
	width: 75px;
	height: 50px;
	background-color: green;
	position: absolute;
	top: 25px;
	left: 25px;
}
#button {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: blue;
	position: absolute;
	left: 93%;
}