/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#button1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: blue;
  position: absolute;
  left: 93%;
  top: 25%;
  color:red;
}
#button2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: blue;
  position: absolute;
  left: 93%;
  top: 35%;
  color:red;
}
#button3 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: blue;
  position: absolute;
  left: 93%;
  top: 45%;
  color:red;
}
#rectangle {
  width: 75px;
  height: 50px;
  background-color: green;
  position: absolute;
  top: 25px;
  left: 25px;
}